<div class="col-sm-6">
  <h2>Add a Repo review</h2>
  <form role="form" method="POST" action="/repos/review/">
    <div class="form-group">
      <label for="User">User:</label>
      <input class="form-control" name="user" placeholder="<%= review.user %>">
    </div>
    <div class="form-group">
      <label for="Repository">Repository:</label>
      <input class="form-control" name="repo" placeholder="<%= review.repo %>">
    </div>
    <div class="textbox">
      <textarea class="form-control" name="review" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>